@use "../_vars.scss" as var;
@use '../_mixins.scss' as mix;

.slay-button{
    background: linear-gradient(to right, var.$atomic-tangerine 50%, var.$xanthous 50%);
    background-size: 200%;
    background-position: left;
    @include mix.text-mobile(text-2);
    font-weight: 600; //à mettre dans la mixin text.mobile 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px 15px;
    border-radius: 15px;
    border: 1px solid var.$black;
    cursor: pointer;
    transition: all 300ms ease-in;
    svg{
        width: 15px;
        height: 15px;
    }
    @media #{var.$larger} {
        @include mix.text-desktop(text-2); //ajouter font-weight
        svg{
            width: 18px;
            height: 18px;
        }
    }
    &:hover{
        background-position: right;
        transform: translateX(-2px);
        box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
    }
}