@use "../_vars.scss" as var;
@use '../_mixins.scss' as mix;

.register-page{
    color: var.$black;
    h1{
        margin-top: 50px;
        text-align: center;
    }
    form{
        @include mix.register-login-form();
        margin-top: 50px;
        margin-bottom: 150px
    }
    &-fieldset{
        @include mix.register-login-fieldset();
        &-password-incorrect::after{
            @include mix.password-incorrect("password-incorrect");
        }
        &-password-no-same::after{
            @include mix.password-incorrect("password-no-same")
        }
    }
    &-input-password-incorrect, .register-page-input-password-no-same{
        @include mix.style-error-password();
    }
    button{
        @include mix.register-login-button();
    }
}