@use "_vars.scss" as var;

// HEADING STYLE
/* Desktop */
@mixin heading-desktop($type, $weight, $color) {
    font-family: var.$vidaloka;

    @if $type == "title-1" {
        font-size: var.$px48;
    }

    @if $type == "title-2" {
        font-size: var.$px40;
    }

    @if $type == "title-3" {
        font-size: var.$px32;
    }
}

/* Mobile */
@mixin heading-mobile($type, $weight, $color) {
    font-family: var.$vidaloka;

    @if $type == "title-1" {
        font-size: var.$px36;
    }

    @if $type == "title-2" {
        font-size: var.$px26;
    }

    @if $type == "title-3" {
        font-size: var.$px22;
    }
}


// TEXT STYLE
/* Desktop */
@mixin text-desktop($type, $weight, $color) {
    font-family: var.$hind;

    @if $type == "subtitle" {
        font-size: var.$px24;
    }

    @if $type == "text-1" {
        font-size: var.$px16;
    }

    @if $type == "text-2" {
        font-size: var.$px14;
    }

    @if $type == "text-3" {
        font-size: var.$px12;
    }
}

/* Mobile */
@mixin text-mobile($type, $weight, $color) {
    font-family: var.$hind;
    color: $color;

    @if $type == "subtitle" {
        font-size: var.$px20;
    }

    @if $type == "text-1" {
        font-size: var.$px14;
    }

    @if $type == "text-2" {
        font-size: var.$px12;
    }

    @if $type == "text-3" {
        font-size: var.$px10;
    }
}


// GRID
@mixin grid($columns, $gap, $rows: auto) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: $rows;
    gap: $gap;
}


// FLEX
@mixin flex($direction: row, $justify: center, $align: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
  }