@use "_vars.scss" as var;

// HEADING STYLE
/* Desktop */
@mixin heading-desktop($type, $weight, $color) {
    font-family: var.$vidaloka;

    @if $type == "title-1" {
        font-size: var.$px48;
    }

    @if $type == "title-2" {
        font-size: var.$px40;
    }

    @if $type == "title-3" {
        font-size: var.$px32;
    }
}

/* Mobile */
@mixin heading-mobile($type, $weight, $color) {
    font-family: var.$vidaloka;

    @if $type == "title-1" {
        font-size: var.$px36;
    }

    @if $type == "title-2" {
        font-size: var.$px26;
    }

    @if $type == "title-3" {
        font-size: var.$px22;
    }
}


// TEXT STYLE
/* Desktop */
@mixin text-desktop($type, $weight, $color) {
    font-family: var.$hind;

    @if $type == "subtitle" {
        font-size: var.$px24;
    }

    @if $type == "text-1" {
        font-size: var.$px16;
    }

    @if $type == "text-2" {
        font-size: var.$px14;
    }

    @if $type == "text-3" {
        font-size: var.$px12;
    }
}

/* Mobile */
@mixin text-mobile($type, $weight:0, $color:var.$black) {
    font-family: var.$hind;
    color: $color;

    @if $type == "subtitle" {
        font-size: var.$px20;
    }

    @if $type == "text-1" {
        font-size: var.$px14;
    }

    @if $type == "text-2" {
        font-size: var.$px12;
    }

    @if $type == "text-3" {
        font-size: var.$px10;
    }
}


// GRID
@mixin grid($columns, $gap, $rows: auto) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: $rows;
    gap: $gap;
}


// FLEX
@mixin flex($direction: row, $justify: center, $align: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

//LOGIN AND REGISTER FORMS
@mixin register-login-form(){
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: var.$border-radius-md;
    box-shadow: var.$box-shadow-md;
    @include text-mobile(text-2);
    background: var.$atomic-tangerine-apricot;
    width: fit-content;
    margin-bottom: 250px;
    p{
        text-align: center;
        margin-top: 20px;
        a{
            color: var.$onyx;
            font-weight: 800;
            transition: all 200ms ease-in;
            &:hover{
                color: var.$black;
            }
        }
    }
}

@mixin register-login-fieldset(){
    @include flex(column, flex-start, flex-start);
    margin-bottom: 25px;
    label{
        margin-bottom: 8px;
    }
    input{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var.$black;
        font-family: var.$hind;
        &:focus{
            outline: none;
            border-bottom: 2px solid var.$black;
        }
    }
}

@mixin register-login-button(){
    padding: 5px 10px;
    width: 160px;
    background-color: transparent;
    border: 1px solid var.$black;
    border-radius: var.$border-radius-sm;
    font-family: var.$hind;
    transition: all 200ms ease-in;
    cursor: pointer;
    &:hover{
        background-color: var.$atomic-tangerine;
        transform: translate(2px, 2px);
        box-shadow: var.$box-shadow-sm;
    }
}