//FONTS
/* Import Hind font */
@font-face {
    font-family: 'Hind';
    src: url('../../fonts/hind/Hind-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('../../fonts/hind/Hind-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('../../fonts/hind/Hind-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('../../fonts/hind/Hind-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('../../fonts/hind/Hind-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Import Vidaloka font */
@font-face {
    font-family: 'Vidaloka';
    src: url('../../fonts/vidaloka/Vidaloka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Vars */
$hind: 'Hind', sans-serif;
$vidaloka: 'Vidaloka', serif;


// COLORS
$black:             #231F20;
$onyx:              #3A3C40;
$cadet-gray:        #94979E;
$french-gray:       #BFC1C5;
$isabelline :       #EEECE7;
$white:             #F8F7F5;

$charcoal:          #324A5F;
$emerald:           #06BA63;
$green:             #20BF55;
$rusty-red:         #DE3C4B;
$red:               #EF6461;
$atomic-tangerine:  #FF9B71;
$sandy-brown:       #FCAF58;
$xanthous:          #FAC05E;
$fawn:              #F2B880;
$peach:             #F4C095;
$apricot:           #FFD5C2;
$blanched-almond:   #FFE4D5;

// Gradient
$blanched-almond-white : linear-gradient($blanched-almond, $white);
$atomic-tangerine-apricot: linear-gradient($atomic-tangerine, $apricot);


// SIZES
$px10: 0.625rem;  // 10px
$px12: 0.75rem;   // 12px
$px14: 0.875rem;  // 14px
$px16: 1rem;      // 16px
$px20: 1.25rem;   // 20px
$px22: 1.375rem;  // 22px
$px24: 1.5rem;    // 24px
$px26: 1.625rem;  // 26px
$px32: 2rem;      // 32px
$px36: 2.25rem;   // 36px
$px40: 2.5rem;    // 40px
$px48: 3rem;      // 48px


// RADIUS
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 32px;


// SHADOW
$box-shadow-sm: -2px -2px 2px rgba(0, 0, 0, 0.2);
$box-shadow-md: -4px -4px 4px rgba(0, 0, 0, 0.2);
$box-shadow-lg: -8px -8px 16px rgba(0, 0, 0, 0.2);


// RESPONSIVE
/* For very small devices, such as small smartphones. */
$extra-small: "only screen and (min-width: 480px)";

/* For small devices, such as standard smartphones in portrait mode. */
$small: "only screen and (min-width: 576px)";

/* For medium-sized devices, like tablets in portrait mode. */
$medium: "only screen and (min-width: 768px)";

/* For devices slightly larger than tablets, such as tablets in landscape mode or small laptops. */
$medium-large: "only screen and (min-width: 850px)";

/* For large devices, such as standard laptops. */
$large: "only screen and (min-width: 992px)";

/* For slightly larger laptops or small desktop monitors. */
$larger: "only screen and (min-width: 1100px)";

/* For extra-large devices, such as larger desktop monitors. */
$extra: "only screen and (min-width: 1200px)";

/* For very large devices, such as widescreen desktop monitors. */
$extra-large: "only screen and (min-width: 1400px)";

/* For ultra-wide devices, such as high-resolution or ultra-wide monitors. */
$ultra: "only screen and (min-width: 1600px)";