@use "_vars.scss" as var;
@use "_mixins.scss" as mix;
@use "_reset.scss";

html, body{
    background: var.$blanched-almond-white;
    height: 100%;
    width: 100%;
}

h1 {
    @include mix.heading-mobile("title-1", normal, var.$black);
    text-align: center;
    margin: 1.5rem 0;
}

h2 {
    @include mix.heading-mobile("title-2", normal, var.$black);
}

h3 {
    @include mix.heading-mobile("title-3", normal, var.$black);
}

.subtitle {
    @include mix.text-mobile("subtitle", normal, var.$black);
}

@media #{var.$large} {
    h1 {
        @include mix.heading-desktop("title-1", normal, var.$black);
        margin: 2rem 0;
    }
    
    h2 {
        @include mix.heading-desktop("title-2", normal, var.$black);
    }
    
    h3 {
        @include mix.heading-desktop("title-3", normal, var.$black);
    }
    
    .subtitle {
        @include mix.text-desktop("subtitle", normal, var.$black);
    }
}